.searchContainer {
    margin: 20px auto;
    width: 100%;
    max-width: 600px;
}

.tabs {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

.tab {
    font-size: 14px;
    color: #333;
    cursor: pointer;
    position: relative;
}

.tab:hover,
.tab.active {
    color: #1E2A38;
}

.tab.active:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #1E2A38;
}

.searchBox {
    position: relative;
    background-color: #f7f8fa;
    padding: 10px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.searchIcon {
    position: absolute;
    left: 15px;
    font-size: 24px;
    color: #369;
}

.searchInput {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px 40px 10px 50px;
    font-size: 18px;
    background-color: transparent;
}

.clearButton {
    position: absolute;
    right: 15px;
    background: none;
    border: none;
    font-size: 18px;
    color: #aaa;
    cursor: pointer;
}

.clearButton:hover {
    color: #666;
}

.suggestions {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.suggestion {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 16px;
    border-bottom: 1px solid #eee;
    color: #333;
    align-items: center;
}

.suggestion:hover {
    background-color: #f7f8fa;
}

.searchIconSmall {
    font-size: 18px;
    color: #369;
}

.arrowIcon {
    font-size: 16px;
    color: #ccc;
}